<div class="rounded">

    <h2>{{title}}</h2>
    <div>
        <div class="AddTask">
            <a href="#" routerLink="add-project" id="addproject">Add Project</a>
        </div>
        <div class="ViewTask">
            <a href="#" routerLink="" id="addtask">Add task</a>
        </div>
        <div class="ViewTask">
                <a href="#" routerLink="add-user" id="adduser">Add User</a>
            </div>
        <div class="ViewTask">
            <a href="#" routerLink="view-task" id="viewtask">view task</a>
        </div>

    </div>
    <br>
    <br>
    <router-outlet></router-outlet>
</div>